* {
    font-family: Arial;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}

.advantages {
    width: 80%;
    display: flex;
    justify-content: center;
}
    .advantagesText {
        order: 2;
        display: flex;
        flex-direction: column;
        gap: clamp(40px, 5vw, 70px);
    }
        .advantagesTitle {
            font-size: clamp(24px, 3vw, 36px);
            font-weight: 700;
            display: flex;
            flex-direction: column;
        }
            .advantagesTitle > p:last-child {
                color: #68A598;
                margin-left: clamp(0px, 6vw, 100px);;
            }
        .advantagesSubtitle {
            font-size: clamp(14px, 3vw, 30px);
            display: flex;
            flex-direction: column;
        }
        .advantagesSubtitle > ul > li {
            margin-bottom: 10px;
        }
    .advantagesImg {
        order: 1;
    }
        .advantagesImg > img {
            width: clamp(320px, 50vw, 1000px);
    } 
    @media (max-width: 600px) {
        .advantages {
            display: flex;
            flex-direction: column;
            justify-content: center;   
            justify-self: center;
        }
        .advantagesText {
            order: 0;
            display: flex;
            flex-direction: column;
            gap: clamp(40px, 5vw, 70px);
        }
        .advantagesTitle {
            margin-left: clamp(30px, 1vw, 50px);
        }
        .advantagesImg {
            display: flex;
            justify-content: center;
        }
    }
    @media (min-width: 600px) and (max-width: 1280px) {
        
    }

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4%;
    margin-bottom: 5%;
}

    .titleContact {
        font-size: clamp(24px, 3vw, 36px);
        font-weight: 600;
        text-align: center;
    }
    .contacts {
        display: flex;
        width: 80%;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
        .map {
            height: clamp(200px, 35vw, 350px);
            width: clamp(300px, 35vw, 600px);
        }
        .contactDetails {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
            .contactDetails > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
            .contactDetails > div > img {
                width: clamp(20px, 3vw, 25px);
                
            }
            .contactDetails > div > p {
                    font-size: clamp(14px, 4vw, 20px);
                }
                
        @media (max-width: 792px) {
            .contactDetails {
                gap: 10px;
            }
        }

.footer {
    font-size: clamp(12px, 2vw, 16px);
    background-color: #68A598;
    color: #fff;
    display: flex;
    justify-content: center;
}
    .footer > div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: 40px 0 30px 0;
    }
        .confidence > a {
            color: #fff;
            text-decoration: underline;
        }
    .license {
        border-top: 2px solid #fff;
        padding-top: 10px;
    }
