* {
    font-family: Arial;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}

/* popup */

.popup {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s all;
}

.more_color_btn {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #68A598;
    border: 1px solid #2d2d2d; 
}

.popup__content {
    display: flex;
    flex-direction: column;
}
    .popup__content > div {
        display: flex;
    }
    .more_car_card {
        display: flex;

    }
        .more_car_img {
            width: 65%;
        }
            .more_car_img > img {
                width: 100%;
                z-index: 0;
            }
        .more_car_subtitle {
            width: 35%;
            z-index: 1;
        }




.popup.active,
.overlay-modal.active {
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.popup-content {
    padding: 30px;
}

.popup__title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.popup__form {
    margin-top: 40px;
    min-width: 300px;
}

.popup__item input,
.popup__item textarea {
    padding: 7px 10px;
    border: 1px solid #DDD;
    height: 40px;
    border-radius: 5px;
    -webkit-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.23, 1, .32, 1);
    transition-timing-function: cubic-bezier(.23, 1, .32, 1);
    font-size: 15px !important;
    line-height: 155% !important;
    font-weight: 300 !important;
    color: #8787a2 !important;
    width: 100%;
    outline: 0;
}

.popup__item+.popup__item {
    margin-top: 10px;
}

.overlay-modal {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.popup.active,
.overlay-modal.active {
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}


/* класс у body */
.popup-opened {
    overflow: hidden;
}

/* advantages */

.advantages {
    width: 80%;
    display: flex;
    justify-content: center;
}
    .advantagesText {
        order: 2;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: clamp(40px, 5vw, 70px);
    }
        .advantagesTitle {
            font-size: clamp(24px, 3vw, 36px);
            font-weight: 700;
            display: flex;
            flex-direction: column;
        }
            .advantagesTitle > p:last-child {
                color: #68A598;
                margin-left: clamp(0px, 6vw, 100px);;
            }
        .advantagesSubtitle {
            font-size: clamp(14px, 2vw, 30px);
            display: flex;
            flex-direction: column;
        }
        .advantagesSubtitle > ul > li {
            margin-bottom: 10px;
        }
    .advantagesImg {
        order: 1;
    }
        .advantagesImg > img {
            width: clamp(400px, 50vw, 900px);
    } 
    @media (max-width: 750px) {
        .advantages {
            display: flex;
            flex-direction: column;
            justify-content: center;   
            justify-self: center;
        }
        .advantagesText {
            order: 0;
            display: flex;
            flex-direction: column;
            gap: clamp(40px, 5vw, 70px);
        }
        .advantagesTitle {
            margin-left: clamp(30px, 1vw, 50px);
        }
        .advantagesImg {
            display: flex;
            justify-content: center;
        }
        .advantagesImg > img {
            position: relative;
            z-index: 0;
            left: -50px;
        }
    }
    @media (min-width: 750px) and (max-width: 1703px) {
        .advantagesImg > img {
            position: relative;
            left: -50px;
            width: 500px;
        }  
        .advantagesImg {
            display: flex;
            align-items: center;
        }
    }
   

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4%;
    margin-bottom: 5%;
}

    .titleContact {
        font-size: clamp(24px, 3vw, 36px);
        font-weight: 600;
        text-align: center;
    }
    .contacts {
        display: flex;
        width: 80%;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
        .map {
            height: clamp(200px, 35vw, 350px);
            width: clamp(300px, 35vw, 600px);
        }
        .contactDetails {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
            .contactDetails > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
            .contactDetails > div > img {
                width: clamp(20px, 3vw, 25px);
                
            }
            .contactDetails > div > p {
                    font-size: clamp(14px, 4vw, 20px);
                }
                
        @media (max-width: 792px) {
            .contactDetails {
                gap: 10px;
            }
        }

.footer {
    font-size: clamp(12px, 2vw, 16px);
    background-color: #68A598;
    color: #fff;
    display: flex;
    justify-content: center;
}
    .footer > div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: 40px 0 30px 0;
    }
        .confidence > a {
            color: #fff;
            text-decoration: underline;
        }
    .license {
        border-top: 2px solid #fff;
        padding-top: 10px;
    }
